<section class="about-us container">
    <div class="about-us__item">
        <img class="about-us__svg" src="./assets/svg/trophy 1.svg" alt="">
        <div class="about-us__title"><h4>High Quality</h4>
        <span>crafted from top materials</span></div>
        
        
    </div>
    <div class="about-us__item">
        <img class="about-us__svg" src="./assets/svg/guarantee.svg" alt="trophy">
        <div class="about-us__title">
            <h4>Warrany Protection</h4>
            <span>Warrany Protection</span>
        </div>
        
    </div>
    <div class="about-us__item">
        <img class="about-us__svg" src="./assets/svg/shipping.svg" alt="">
        <div class="about-us__title"><h4>Free Shipping</h4>
        <span>Order over 450 $</span></div>
        
    </div>
    <div class="about-us__item">
        <img class="about-us__svg" src="./assets/svg/customer-support.svg" alt="">
        <div class="about-us__title"><h4>24 / 7 Support</h4>
        <span>Dedicated support</span></div>
        
    </div>
</section>
