<h3 class="title">Our Products</h3>
<secion class="products container">
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		
			<div class="products_discount"><h4>-30%</h4></div>
			<img class="product_img" src="./assets/images/image 1.jpg" alt="item1" />
			<div class="products_description">
				<h3 class="product_name">Syltherine</h3>
				<h5 class="product_description">Stylish cafe chair</h5>
				<h3 class="product_price">Rp 2.500.000</h3>
			</div>
		
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<img class="product_img" src="./assets/images/image 2.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Syltherine</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 2.500.000</h3>
		</div>
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="products_discount"><h4>-50%</h4></div>
		<img class="product_img" src="./assets/images/image 3.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Syltherine</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 7.000.000</h3>
		</div>
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="products_discount"><h4>New</h4></div>
		<img class="product_img" src="./assets/images/image 4.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Syltherine</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 500.000</h3>
		</div>
	</div>
</secion>
<secion class="products container">
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<img class="product_img" src="./assets/images/image 5.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Syltherine</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 2.500.000</h3>
		</div>
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="products_discount"><h4>New</h4></div>
		<img class="product_img" src="./assets/images/image 6.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Grifo</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 2.500.000</h3>
		</div>
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="products_discount"><h4>-50%</h4></div>
		<img class="product_img" src="./assets/images/image 7.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Muggo</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 7.000.000</h3>
		</div>
	</div>
	<div class="products_item">
		<div class="overlay">
			<div class="overlay-items">
				<button>Add to card</button>
				<div class="overlay-share">
					<div class="ico"><img  src="./assets/images/share.png" alt=""/></div>
					<div class="ico"><img  src="./assets/images/like.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="products_discount"><h4>New</h4></div>
		<img class="product_img" src="./assets/images/image 8.jpg" alt="item1" />
		<div class="products_description">
			<h3 class="product_name">Potty</h3>
			<h5 class="product_description">Stylish cafe chair</h5>
			<h3 class="product_price">Rp 500.000</h3>
		</div>
	</div>
</secion>
<div class="container button-wrapper">
	<button class="products-button">Show More</button>
</div>
