
:root {
  --first: #61b15a;
  
}
nav {
  background-color: #e5e5e5;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
nav a {
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 30px;
  font-family: 'Odibee Sans', cursive;
  top: 15px;
}

nav a i {
  font-size: 28px;
  color: var( --first);
}
.container {
  padding: 0;
  background-color: rgb(194, 192, 192);
  margin-bottom: 60px;
  opacity: 1;
  margin:0px 250px;
}
.container .main-photo {
  width: 850px;
  height: 500px;
  margin: 10px  auto 60px;
}
.container .main-photo img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--first);
  border-radius: 15px;
}
.social-links {
  display: flex;
  margin-top: 6px;
  position: relative;
}
.social-links i {
  padding-right: 20px;
  font-size: 25px;

}
.social-links button{
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: var(--first);
  cursor: pointer;
  padding:5px 20px;
  border-radius: 3px;
  
}
.social-links button:hover{
  background-color: rgb(159, 189, 159);
  color:black;

}
 .social-links .fa-facebook-f {
  color: rgb(16, 16, 173);
}
.social-links .fa-twitter {
  color: rgb(94, 94, 139);
}
.social-links  .fa-instagram {
  color: rgb(92, 38, 38);
}
.social-links  .fa-youtube {
  color: rgb(248, 13, 13);
} 
.social-links  .fa-envelope{
    color: rgb(246, 246, 110);

}
.two-section {
  display: flex;
  background-color: rgb(65, 63, 63);
  padding: 20px 250px;
}
.two-section .text {
  width: 60%;
  padding-right: 20px;
  padding-top: 10px;
}
.two-section .text p {
  width: 85%;
  color: rgb(214, 196, 196);
}
.two-section .way {
  width: 45%;
  position: relative;
}
.two-section .way .two-img img{
  width: 100%;
}
.two-section .way .two-img p{
  font-size:15px
}
.two-section .two-img::after{
  content: '';
  display: block;
  left: 30px;
  right: 30px;
  position: absolute;
  border-bottom: 2px solid #f3f3f4;
}
.two-section .way::after{
  content: '';
  display: block;
  left: 30px;
  right: 30px;
  position: absolute;
  border-bottom: 2px solid #f3f3f4;
}
.img-course{
  display: flex;
  justify-content: space-between;
  padding-left: 0px;

}
.img-course .course ul{
list-style: none;
padding-left:0px;
height:300px;
}
.img-course .course ul li{
  text-decoration: none;
  font-size:15px;
  padding:10px ;
}
strong{
  color:var(--first);
  font-weight:bold;
  font-size:20px;
}
.img-course .course ul li i{
  padding-right:10px;
  
}
.img-course .course ul li span{
  color:white;
  padding-left: 15px;
}
.img-course .img{
  height:30px;
  right:100px;
  top:30px;
  position: relative;
}
.img-course .img img{
  width:150px;
  position:absolute;
}
